body {
  background-color: #e6e6e6;
}

img {
  height: 84.5px;
  padding: 20px 20px 0 10px;
}

.Property-Card__header {
  background-color: rgb(184, 198, 242);
}

.PropertyCard {
  text-align: center;
  width: 350px;
  height: 251px;
  margin: 50px 0 0 30px;
  display: inline-block;
  border: solid black 1px;
}

.Property-Card__title {
  padding: 7px 0 0 0;
  width: 100%;
  height: 40px;
}

.Property-Card__email {
  background-color: rgb(130, 157, 237);
  text-decoration: none;
}

a {
  text-decoration: none;
}
