body {
  background-color: #e6e6e6;
}

.Card__header {
}

.Card {
  text-align: center;
  width: 350px;
  height: 251px;
  margin: 50px 0 0 30px;
  display: inline-block;
  border: solid black 1px;
}

.Card__text {
  padding: 7px 0 0 0;
  width: 100%;
  height: 40px;
}

.Card__button {
  border-radius: 10px;
  outline: none;
  width: 70px;
  background-color: #c8e8e8;
}

a {
  text-decoration: none;
}
