body {
  background-color: #e6e6e6;
}

.img-card {
  height: 84.5px;
  width: 350px;
}

.Card__header {
  /* background-color: rgb(184, 198, 242); */
}

.myCard {
  background-color: #fff;

  text-align: center;
  width: 350px;
  height: 265px;
  margin: 50px 0 0 30px;
  display: flex;
  border: solid black 1px;
}

.Card__title {
  padding: 7px 0 0 0;
  width: 100%;
  height: 40px;
}

.Card__button {
  background-color: #000;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
}

a {
  color: white;
  text-decoration: none;
}

.Card__text {
  padding: 28px 0px 28px 0px;
}
