.careers_container {
  background: black;
}
.careers_img {
  width: 70%;
  height: auto;
}

.careers_img_container {
  width: 70%;
  height: auto;
  float: left;
}

.careers_info_container {
  float: right;
  text-align: center;
  margin-top: 0;
}
