*,
*:before,
*:after {
  box-sizing: border-box;
}
.contact-form {
  text-align: right;
  width: 300px;
  height: 300px;
  background-color: #000;
  color: #fff;
  margin: 30px;
  display: center;
  border-radius: 40px;
}

button {
  border-radius: 10px;
  outline: none;
  width: 70px;
  background-color: #c8e8e8;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}

select[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

div.contact-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input {
  width: 200px;
  height: 26px;
  justify-content: center;
}

label {
  font-size: 20px;
}

.name .lastname {
  display: inline-block;
}

placeholder {
  color: white;
}
