*,
*:before,
*:after {
  box-sizing: border-box;
}
.contact-form {
  text-align: right;

  color: #000;
  margin: 30px;
  display: center;
}

button {
  outline: none;
  width: 70px;
  background-color: #fff;
  color: #000;
}

.email {
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}

.contact-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input textarea {
  border: solid white 1em;
  background-color: black;
}

/* input {
  width: 200px;
  height: 26px;
  justify-content: center;
} */
input #email {
  width: 600px;
  height: 26px;
  justify-content: center;
}

textarea {
  display: flex;
  justify-content: center;
  width: 300px;
}

.email-container {
  display: flex;
  justify-content: center;
}
.message-container {
  display: flex;
  justify-content: center;
}

.name-lastname {
  display: flex;
  justify-content: center;
}
