@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.otf") format("otf"),
    url("../fonts/Gotham-Book.otf") format("otf"),
    url("../fonts/Gotham-Medium.otf") format("otf");
}
body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
