@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/slide-hello.jpg");
}
