img {
  width: 100%;
  height: auto;
}

.image_container {
  width: 70%;
  height: auto;
  float: left;
}

.weare_info_container {
  text-align: center;
  background: black;
}

.weare_info_container p,
h1 {
  color: white;
  padding-top: 50px;
}

.weare_button_container {
  padding-bottom: 218px;
}
