.weare_container {
  background: black;
}
.weare_img {
  width: 70%;
  height: auto;
}

.weare_image_container {
  width: 70%;
  height: auto;
  float: left;
}

.weare_info_container {
  float: right;
  text-align: center;
  margin-top: 0;
}
