.weare_container {
  background: black;
}
.weareimg {
  width: 70%;
  height: auto;
}

.image_container {
  width: 70%;
  height: auto;
  float: left;
}

.info_container {
  float: right;
  text-align: center;
  position: fixed;
}
