.main-content {
  flex: 1;
}
.info-weare {
  flex: 0 0 300px;
  background: black;
}

@media (min-width: 56.25em) {
  .flex-container {
    display: flex;
  }
}
.img-weare {
  width: 100%;
  height: auto;
}

.weare-container {
  margin: 0;
  padding: 0;
}
