.flex_container {
  margin: 0;
}

.main-content {
  flex: 1;
}
.sidebar {
  flex: 0 0 300px;
  background: black;
}

@media (min-width: 56.25em) {
  .flex-container {
    display: flex;
  }
}
.img-wedo {
  width: 100%;
  /* height: auto; */
  margin: 0;
}

.wedo-p,
.wedo-h1,
.wedo-button {
  color: white;
}

.wedo-h1 {
  font-weight: bold;
  text-align: left;
  padding: 1.5rem 0rem 0.5rem 3.125rem;
}

.wedo-p {
  padding: 0rem 0rem 0.5rem 3.125rem;
}

.wedo-button {
  text-align: left;
  border: white solid 1px;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  text-decoration: none;
}

.wedo-btn-container {
  text-align: left;
  padding: 1rem 0rem 0rem 3.125rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
